body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 100;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: 600;
  font-family: "PT Sans Narrow Bold", "Arial", sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  font-family: "PT Sans Narrow Bold", "Arial", sans-serif;
}

.row {
  width: 100%;
}

.col {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

.s-1 {
  width: 8.3333333333333333333333333333333%;
}

.s-2 {
  width: 16.666666666666666666666666666667%;
}

.s-3 {
  width: 25%;
}

.s-4 {
  width: 33.333333333333333333333333333333%;
}

.s-5 {
  width: 41.666666666666666666666666666667%;
}

.s-6 {
  width: 50%;
}

.s-7 {
  width: 58.333333333333333333333333333333%;
}

.s-8 {
  width: 66.666666666666666666666666666667%;
}

.s-9 {
  width: 75%;
}

.s-10 {
  width: 83.333333333333333333333333333333%;
}

.s-11 {
  width: 91.666666666666666666666666666667%;
}

.s-12 {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
