* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 100;
  font-family: "PT Sans Narrow", "Arial", sanrow__col--sserif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: 600;
  font-family: "PT Sans Narrow Bold", "Arial", sanrow__col--sserif;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  font-family: "PT Sans Narrow Bold", "Arial", sanrow__col--sserif;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.row {

}

.row__col {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;  
}

.row__col--s1 {
  width: 8.3333333333333333333333333333333%;
}

.row__col--s2 {
  width: 16.666666666666666666666666666667%;
}

.row__col--s3 {
  width: 25%;
}

.row__col--s4 {
  width: 33.333333333333333333333333333333%;
}

.row__col--s5 {
  width: 41.666666666666666666666666666667%;
}

.row__col--s6 {
  width: 50%;
}

.row__col--s7 {
  width: 58.333333333333333333333333333333%;
}

.row__col--s8 {
  width: 66.666666666666666666666666666667%;
}

.row__col--s9 {
  width: 75%;
}

.row__col--s10 {
  width: 83.333333333333333333333333333333%;
}

.row__col--s11 {
  width: 91.666666666666666666666666666667%;
}

.row__col--s12 {
  width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-navigation__item {
  float: left;
  margin-right: 10px;
  list-style: none;
}

.user__login {
  float: right;
}

.logo {
  text-align: center;
}

.features {
  text-align: center;
}

.btn {
  float: left;
  box-sizing: border-box;
  width: 160px;
}

.btn--large {
  width: 320px;
}

.appointment-form__field {
  float: left;
  box-sizing: border-box;
  width: 140px;
  margin: 0 10px;
}

.social__text {
  text-align: center;
}

.social__btn {
  float: left;
  margin: 0 10px;
}

.copyright {
  text-align: right;
}

.btn--copyright {
  float: none;
}

.breadcrumbs__item {
  float: left;
  margin-right: 10px;
  list-style: none;
}

.filter__condition {
  display: block;
}

.btn--buy {
  float: none;
}

.btn--paginator {
  float: left;
  width: auto;
  margin-right: 10px;
  list-style: none;
}

.description__vendor-code {
  float: right;
}

.items {
  padding: 0;
}
